In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler


# Loading and Cleaning Data
data = pd.read_csv('Data_Gov_Tamil_Nadu.csv', encoding='ISO-8859-1')

# Checking for missing values
missing_values = data.isnull().sum()
print("Missing Values:\n", missing_values)

# Filling missing values
data['LATEST_YEAR_ANNUAL_RETURN'].interpolate(method='linear', inplace=True)
data['LATEST_YEAR_FINANCIAL_STATEMENT'].interpolate(method='linear', inplace=True)

display(data.describe())

C:\Users\jasmi\AppData\Local\Temp\ipykernel_14756\816024531.py:7: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Data_Gov_Tamil_Nadu.csv', encoding='ISO-8859-1')

Missing Values:
 CORPORATE_IDENTIFICATION_NUMBER               0
COMPANY_NAME                                  0
COMPANY_STATUS                                0
COMPANY_CLASS                               334
COMPANY_CATEGORY                            334
COMPANY_SUB_CATEGORY                        334
DATE_OF_REGISTRATION                         39
REGISTERED_STATE                              0
AUTHORIZED_CAP                                0
PAIDUP_CAPITAL                                0
INDUSTRIAL_CLASS                            310
PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN        0
REGISTERED_OFFICE_ADDRESS                    90
REGISTRAR_OF_COMPANIES                      174
EMAIL_ADDR                                38129
LATEST_YEAR_ANNUAL_RETURN                 75889
LATEST_YEAR_FINANCIAL_STATEMENT           75782
dtype: int64

       AUTHORIZED_CAP  PAIDUP_CAPITAL
count    1.508710e+05    1.508710e+05
mean     3.522781e+07    2.328824e+07
std      1.408554e+09    1.072458e+09
min      0.000000e+00    0.000000e+00
25%      1.000000e+05    1.000000e+05
50%      8.000000e+05    1.000000e+05
75%      2.000000e+06    6.857450e+05
max      3.000000e+11    2.461235e+11

In [4]:
#Converting Categorical Features to Numerical
label_encoder = LabelEncoder()
data['COMPANY_CLASS'] = label_encoder.fit_transform(data['COMPANY_CLASS'])
data['COMPANY_CATEGORY'] = label_encoder.fit_transform(data['COMPANY_CATEGORY'])
data['COMPANY_SUB_CATEGORY'] = label_encoder.fit_transform(data['COMPANY_SUB_CATEGORY'])
display(data.describe())

,COMPANY_CLASS,COMPANY_CATEGORY,COMPANY_SUB_CATEGORY,AUTHORIZED_CAP,PAIDUP_CAPITAL
count,150871.000000,150871.000000,150871.000000,1.508710e+05,1.508710e+05
mean,0.169701,1.000563,1.023484,3.522781e+07,2.328824e+07
std,0.550590,0.113658,0.258196,1.408554e+09,1.072458e+09
min,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,0.000000,1.000000,1.000000,1.000000e+05,1.000000e+05
50%,0.000000,1.000000,1.000000,8.000000e+05,1.000000e+05
75%,0.000000,1.000000,1.000000,2.000000e+06,6.857450e+05
max,3.000000,3.000000,5.000000,3.000000e+11,2.461235e+11